body{
    background-color: darkgoldenrod;
}
head{
    text-align: center;
}
h2{
    color: rgb(3, 75, 50);
}
.section-header{
    text-indent: 50px;
}
p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    color: darkgoldenrod;
}
.italian {
    font-style: italic
}
#page-title {
    text-shadow: 1px 1px lightgrey;
}
#favorite-movie-title {
    font-style: italic;
    color: red;
}

#favorite-music-artist-name {
    background-color: tomato;
    color: darkblue;
    font-style: bold;    
}
#most-favorite-food {
    font-size: 20px;
}

.favorite-section {
    border: 3px black solid;
    margin: 5px;
    padding: 2px;
}
.favorite-image {
    width: 48%;
    border-radius: 10px;
    padding: 5px;
}
th {
text-decoration: underline;
color: gray;
}
td {
    color: green;
    border: 1px black solid;
}